<configuration>
    <appender name="SPLUNK" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <!-- setze diese Umgebungsvariablen in deiner Maschine/Jenkins -->
        <url>${SPLUNK_URL}</url>            <!-- z.B. https://splunk.company.com:8088 -->
        <token>${SPLUNK_TOKEN}</token>      <!-- HEC Token -->
        <source>ecommerce-app</source>
        <sourcetype>_json</sourcetype>
        <index>${SPLUNK_INDEX:-main}</index>
        <batch_size_count>1</batch_size_count> <!-- sofort senden -->
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder><pattern>%d %-5level [%thread] %logger{36} - %msg%n</pattern></encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SPLUNK"/>
    </root>
</configuration>
